*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   background-color: #1e1e1e;
   margin: 17px 25px 15px 25px;
   text-align: center;
   font-size: small;
   font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}
.container{
    text-align: left;
    background: #fff;
    border: 1px solid #ccc;
    margin: 0 auto 10px auto;
    width: auto;
    min-width: 49.375rem;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
h2 a{
    
    overflow: hidden;
}
h2{
    font-weight: lighter;
    margin: 0 0 3px;
    font-size: 20.5px;
}
.logo{
    background-color: #FA9300;
    height: 5rem;
    display: block;
}
.header{
    margin: 20px 20px 10px;
    padding: 0 0 13px;
    font-size: 13px;
    border-bottom: 1px dotted #CCCCCC;
}

.content{
    padding: 0 20px 20px 25px ;
    width: 100%;
    overflow: hidden;
    
}
.subtitle{
    line-height: 130%;
    text-align: left;
    font-size: 95% !important;
}
.side-a{
    float: left;
    width: 66%;
}
#c-1{
    color: #D03A11;
    font-size: 190%;
    font-style: normal;
    font-weight: bold;
    display: block;
    padding-bottom: 3px;
}
#sub{
    font-size: 12px;
}
#c-2{
    color: #679904;
    font-size: 190%;
    font-style: normal;
    font-weight: bold;
    display: block;
    padding-bottom: 3px;
}
#c-3{
    color: #499cc9;
    font-size: 190%;
    font-style: normal;
    font-weight: bold;
    display: block;
    padding-bottom: 3px;
}
.rating-counts{
    width: 100%;
}
.ratings{
    display: inline-block;
    height: auto;
    width: 12rem;
    padding: 13px 9px 15px;
    margin: 7px 8px 15px ;
    text-align: center;
    border-radius: 20.7px;
    border: 1px solid #dedede;
    background: #eee;
    color: #000000;
}
.ratings h3{
    font-size: 14Px;
}
.topic{
  padding: 0 0 12px;
  font-size: 15px;
  float: left;
  font-weight: normal;
  margin: 3px 0 0 0;
}

thead{
    text-align: left;
    vertical-align: bottom;
    
}
.head th{
    font-weight: normal !important;
    font-size: 100%;
    line-height: 150%;
    padding: 5px 7px 5px 7px;
    background-color: #dedede;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #dedede;
}

.count{
    width: 10%;
    text-align: center;
}
.table{
    width: 100%;
    font-size: 90%;    
    border-collapse: separate; 
    border-spacing: 0.8px; 
    border-left: 1px solid #dedede;
    margin: 0 0 2em 0;
    line-height: 18px;
}
#r-3{
    text-align: center;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #dedede;
    
}
.body th{
    width: 45%;
    
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #dedede;
    font-weight:bold;
    padding: 7px 9px;
    line-height: 15px;
}
.body{
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #dedede;
}

.head{
    background-color: #dedede;
    text-align: left;
    vertical-align: bottom;
    
}

td.bar-cell {
    text-align: left;
    padding: 0 50px 0 5px;
    position: relative;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #dedede;
}
td.percent .bar {
    height: 17px;
    display: inline-block;
    float: left;
}
tfoot th{
    font-weight: bold;
    font-size: 110%;
    text-align: right;
    background-color: #ffffff;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #dedede;
    padding: 7px 9px;
    line-height: 15px;
    padding: 7px 9px;
    line-height: 15px;
}

.total-value{
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #dedede;
} 

tbody.body tr.even {
   background-color: #f5f5f5;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #dedede;
}


.value{
    position: absolute;
    transform: translateY(0%);
    display: inline-block;
}
.empty {
    border-right: none;
    border-bottom: 1px solid #dedede;
}

.bar{
    display: inline-block;
    height: 18px;
    margin-right: 5px;
}

.barblue{
    background-color: #499cc9;
    width: 42.34%;
    border-radius: 1px solid #499cc9; 
}

.barred{
    background-color: #e53f11;
    width: 23.80%;
    border-radius: 1px solid #e53f11 ;
}
.bargreen{
    background-color: #AACC0D;
    width: 17.80%;
    border-radius: 1px solid #AACC0D;
}
.barorange{
    background-color: #FA9300;
    width: 9.81%;
    border-radius: 1px solid #FA9300;
}
.baryellow{
    background-color: #F9CC0B;
    width: 7.10%;
    border-radius: 1px solid #F9CC0B;
}
.barpink{
    background-color: #DD1f5D;
    border-radius: 1px solid #DD1f5D;
}
.barpurple{
    background-color: #A76BC1;
    border-radius: 1px solid #A76BC1;
}
.space{
    text-align: right;
    display: block;
    width: 100%;
}

.side-b{
    float: left;
    margin-left: 2.5rem;
}
.chart-use-again{
    float: left;
    padding-top: 3px;
    margin-bottom: 15px;
}
.image-container{
    padding: 15px;
    text-align: center;
    font-size: 85%;
    color: #ccc;
}
.image{
    height: 9rem;
    width: 13.75rem;
}
