*{
    padding: 0;
    margin: 0;
}

body{
   background-color: #1e1e1e;
   margin: 17px 25px 15px 25px;
   text-align: center;
   font-size: small;
   font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}
.container{
    background: #fff;
    text-align: left;
    border: 1px solid #ccc;
    margin: 0 auto 10px auto;
    width: auto;
    min-width: 49.375rem;
}
h2 a{
    height: 5rem;
    display: block;
    overflow: hidden;
}
h2{
    font-weight: 100;
}
.logo{
    background-color: #FA9300;
    
}
.header{
    margin: 20px 20px 10px;
    padding: 0 0 13px;
    border-bottom: 1px dotted #CCCCCC;
}

.content{
    padding: 0 20px 20px 25px ;
}
#c-1{
    color: #D03A11;
    font-size: 190%;
    font-style: normal;
    font-weight: bold;
    display: block;
    padding-bottom: 3px;
}
#sub{
    font-size: 12px;
}
#c-2{
    color: #679904;
    font-size: 190%;
    font-style: normal;
    font-weight: bold;
    display: block;
    padding-bottom: 3px;
}
#c-3{
    color: #499cc9;
    font-size: 190%;
    font-style: normal;
    font-weight: bold;
    display: block;
    padding-bottom: 3px;
}

.ratings{
    display: inline-block;
    width: 9rem;
    padding: 13px 9px 15px 9px;
    margin: 7px 8px 15px 8px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #dedede;
    background: #eee;
    color: #222;
}
.topic{
  padding: 0 0 12px;
}
th,thead{
    font-weight: normal !important;
    font-size: 12;
    line-height: 170%;
    padding: 5px 7px 5px 7px;
    vertical-align: middle;
}
/* thead{
   width: 100%;
    font-size: 90%;
    clear: left;
    margin: 0 0 2em 0;
} */
.table{
    width: 40rem !important;
    font-size: 100%;
    border-collapse: separate; 
    border-spacing: 1px; 
}
#r-3{
    text-align: center;
}
tbody th{
    font-weight:bold ;
}
.head{
    background-color: #dedede;
    
}
tr:nth-child(even) {
  background-color: #f5f5f5;
}

.bar-cell{
    text-align: left;
    padding: 0 5px 0 5px;
    position: relative;
   
}
.value{
    position: absolute;
    transform: translateY(0%);
    display: inline-block;
}

.bar{
    display: inline-block;
    height: 18px;
    margin-right: 5px;
}

.barblue{
    background-color: #499cc9;
    
}

.barred{
    background-color: #e53f11;
}
.bargreen{
    background-color: #AACC0D;
}
.barorange{
    background-color:
    #FA9300;
}
.baryellow{
    background-color: #F9CC0B;
}
.barpink{
    background-color: #DD1f5D;
}
.space{
    text-align: right;
    display: block;
    width: 100%;
}

tfoot th{
    font-weight: bold;
    font-size: 110%;
}
tfoot th{
   text-align: right;
    padding: 7px 9px;
    line-height: 15px;
}
